asyncssh
brython
dnspython
httpserver
libratom
paramiko
psutil
pycryptodomex
pyinstaller
requests
scapy
wmi
urllib3>=1.26.19 # not directly required, pinned by Snyk to avoid a vulnerability
