asyncssh
brython
dnspython
httpserver
libratom
paramiko
psutil
pycryptodomex
pyinstaller
requests
scapy
wmi
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
future>=0.18.3 # not directly required, pinned by Snyk to avoid a vulnerability
jinja2>=3.1.3 # not directly required, pinned by Snyk to avoid a vulnerability
pydantic>=1.10.13 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=1.26.18 # not directly required, pinned by Snyk to avoid a vulnerability
